{% extends "playground.html" %}

{% block content %}
<section>
    <form method="post" action="https://formsubmit.co/cadetsummers@gmail.com" enctype="multipart/form-data" name="SendMessageForm">
        <div>
            <div>
                <label>Name</label>

            </div>
            <div>
                <label>Email</label>
            </div>
            <div>
                <label>Message</label>
                <textarea></textarea>
            </div>
        </div>
        <ul>
            <li><a href="cadetsummer@gmail.com" class="button submit">Send Message</a></li>
        </ul>
    </form>
</section>

{% endblock %}